# Composer
vendor

# Deployment
deployment.log
.deployment

# Docker
.docker/data/db/*

# Gitlab
auth.json

# VS Code
.history
*.code-workspace
.vscode

.htaccess

# Nette
config/manifest.json
qa/phpcs/phpcs.cache
node_modules
www/assets
