<!--begin::Header-->
<div class="login-header py-10 flex-column-auto">
	<div class="container d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-between">
		<!--begin::Logo-->
		<a href="{plink :Front:Homepage:}" class="flex-column-auto py-5 py-md-0">
			<img src="{App\Bootstrap::getAsset('img/cbbb.png')}" alt="logo" class="h-50px">
		</a>
		<!--end::Logo-->
		<span class="text-muted font-weight-bold font-size-h4">

			{if $user->isLoggedIn()}
				<a id="kt_login_signup" class="text-primary font-weight-bolder" href="{plink :Admin:Homepage:}">Administrace</a>
			{else}
				<a id="kt_login_signup" class="text-primary font-weight-bolder" href="{plink :Admin:Login:}">Přihlásit</a>
			{/if}

		</span>
	</div>
</div>
<!--end::Header-->
