<!--begin::Footer-->
<div class="d-flex flex-center flex-wrap fs-6 p-5 pb-0">

	<!--begin::Links-->
	<div class="d-flex flex-center fw-bold fs-4">

			<span class="text-muted font-weight-bold mr-2">&copy; 2020-{=date('Y')} |</span>
			<a href="https://www.collectorboy.cz/" target="_blank" class="text-muted text-hover-primary px-2">CollectorBoy.cz</a>

	</div>
	<!--end::Links-->

</div>
<!--end::Footer-->
