<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}CBBB.cz | Zkracovač URL</title>

	<!-- Google Tag Manager -->
	{control gTM:head}
	<!-- End Google Tag Manager -->

	<!-- SEO -->
	<meta name="description" content="Zkracovač URL">
	<meta name='robots' content='noindex, nofollow' />

	<!-- CSS -->
	{if App\Bootstrap::loadAsset('front.css') !== null}
		{control assets:css}
	{/if}

	<!--Google Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />

	<!-- Favicons -->
	{control favicons}

</head>

<body id="kt_body" class="bg-body">

	<!-- Google Tag Manager (noscript) -->
	{control gTM:body}
	<!-- End Google Tag Manager (noscript) -->

	<div class="d-flex flex-column flex-root">

		<!--begin::Authentication - Sign-in -->
		<div class="d-flex flex-column flex-lg-row flex-column-fluid">

			<!--begin::Aside-->
			<div class="d-flex flex-column flex-lg-row-auto w-xl-600px positon-xl-relative" style="background-color: #f13b3b;">

				<!--begin::Wrapper-->
				<div class="d-flex flex-column position-xl-fixed top-0 bottom-0 w-xl-600px scroll-y">

					<!--begin::Content-->
					<div class="d-flex flex-row-fluid flex-column text-center p-10 pt-lg-20">

						<!--begin::Logo-->
						<a n:href="Homepage:" class="py-10 pt-20 mb-5">
							<img src="{App\Bootstrap::getAsset('img/cbbb.png')}" alt="logo" class="h-70px">
						</a>
						<!--end::Logo-->

						<!--begin::Title-->
						<h1 class="fw-bolder fs-2qx pb-5 pb-md-10" style="color: #fff;">
							Zkracovač URL adres <br> webu CollectorBoy.cz
						</h1>
						<!--end::Title-->

					</div><!--end::Content-->

					<!--begin::Illustration-->
					<div class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-350px d-none d-lg-block" style="background: URL(https://www.collectorboy.cz/wp-content/themes/wp-bootstrap-starter-child-master/assets/logo/logo.png) no-repeat;width: 350px;background-size: contain; display: block;margin: 0 auto;margin-bottom: 41px;"></div>
					<!--end::Illustration-->

				</div><!--end::Wrapper-->

			</div><!--end::Aside-->

			<!--begin::Body-->
			<div class="d-flex flex-column flex-lg-row-fluid py-10">

				<!--begin::Content-->
				<div class="d-flex flex-center flex-column flex-column-fluid">

					<!--begin::Wrapper-->
					<div class="w-lg-500px p-10 p-lg-15 mx-auto">

						<!--begin::Form-->
						{control login}
						<!--end::Form-->

					</div><!--end::Wrapper-->

				</div><!--end::Content-->

				{control footer}

			</div>

		</div>

	</div>

	{block scripts}
	<script defer src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	{/block}

</body>
</html>
